@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.catalog {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  .filters {
    background: #f9f9f9;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .filter-group .ant-select,
  .filter-group .ant-slider {
    width: 100%;
  }
  
  .ant-btn {
    width: 100%;
  }
  
  .ant-btn:hover {
    background-color: #0056b3;
    color: white;
  }
  

  .loading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .load-more {
    display: block;
    margin: 20px auto;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background: #1890ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
    &:hover {
      background: #0056b3;
    }
  }

  .car-card {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
