// global.scss

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

:root {
  --primary-color: #1890ff;
  --card-bg-light: #ffffff;
  --card-bg-dark: #1e1e1e;
  --text-light: #333;
  --text-dark: #ddd;
  --box-shadow-light: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] {
  --primary-color: #ff9900;
  --card-bg: var(--card-bg-dark);
  --text-color: var(--text-dark);
  --box-shadow: var(--box-shadow-dark);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

button, .ant-btn {
  transition: all 0.3s ease;
}

button:hover, .ant-btn:hover {
  transform: scale(1.05);
}
